<style>
  .card {
    margin:8px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
    border-radius: 2px !important;
  }

  .fnt-wt-bold,
  .fnt-wt-xbold {
    font-weight: bold;
  }

  th {
    padding: 0px;
    border-bottom: 1px solid gray;
  }

  td {
    border-bottom: 1px solid rgb(230,230,230);
    padding: 5px;
  }

  td:first-child {
    padding-left:0px;
    padding-right:0px;
  }

</style>

<div ng-include src="'app/view/team_description.html'"></div>

<div class="card">
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="About">
        <md-content class="md-padding">
          <h1 class="md-display-2">What's a beacon?</h1>

          <p>A <strong>beacon</strong> is a simple web service that answers questions of the form, "Do you have any genomes with an
            'A' at position 100,735 on chromosome 3?" (or similar data). It responds simply with either "Yes" or "No." This open web
            service is designed both to be technically simple (so it is easy to implement) and to mitigate risks associated with genomic
            data sharing.</p>
          <p>We call these applications "Beacons"
          because, like the SETI project, many dedicated people have been scanning the universe of human research for signs of willing
          participants in far-reaching data sharing efforts, but despite many assurances of interest, it has remained a dark and quiet
          place. Once your "Beacon" is lit, you can start to take the next steps to add functionality to it, and finding the other
          groups who may help by following their Beacons.</p>

        </md-content>
      </md-tab>
      <md-tab label="FAQ">
        <md-content class="md-padding">
          <div ng-repeat="faq in faqs" style="margin-bottom: 20px">
            <a style="font-weight: bold; color: #2667c8" class="md-subhead">{{faq.question}}
              </a>
            <p ng-bind-html="faq.answer"></p>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Beacon Network">
        <md-content class="md-padding">
          <h1 class="md-display-2">Beacon Network</h1>

          <p>
            The Beacon Network is a search engine for public beacons. While individual beacons answer the question, "Have you observed this allele?", the Beacon Network answers the question,
            "Who has observed this allele?"
          </p>
          <p>
            The Beacon Network is available at <a href="http://beacon-network.org">beacon-network.org</a>.
          </p>
        </md-content>
      </md-tab>
      <md-tab label="Directory">
        <md-content class="md-padding">
          <h1 class="md-display-2">Directory</h1>

          <p>The following is a list of organizations hosting public beacons enlisted in the <a href="http://beacon-network.org">Beacon Network</a>.</p>

          <table class="table" >
            <tr class="fnt-wt-xbold">
              <th></th>
              <th>Host</th>
              <th>Dataset</th>
            </tr>
            <tbody ng-repeat="(orgname, datasets) in organizations">
            <tr ng-repeat="dataset in datasets">
              <td>
                <span class="fnt-wt-bold" ng-if="$index == 0"><a ui-sref="beacon.details(orgname.id)"><i class="fa fa-fw fa-info-circle fnt-rg"></i></a></span>
              </td>
              <td>
                <span class="fnt-wt-bold" ng-if="$index == 0">{{orgname}}</span>
              </td>
              <td>
                {{dataset.name}}<span class="m-l-sm" ng-if="dataset.aggregator"><i class="fa fa-fw fa-sitemap"></i></span>
              </td>
            </tr>
            </tbody>
          </table>

        </md-content>
      </md-tab>
      <md-tab label="Developers">
        <md-content class="md-padding">
          <h1 class="md-display-2">Developers</h1>

          <h3>API</h3>

          <p>
            The latest version of the Beacon API (version 0.2) is available <a href="https://github.com/ga4gh/schemas/blob/beacon/src/main/resources/avro/beacon.avdl">here</a>.
          </p>

          <h3>Team Repository</h3>

          <p>
            <i class="fa fa-github-alt fa-fw"></i> Development tools for beacon operators are available in the <a href='https://github.com/ga4gh/beacon-team'>Beacon Project GitHub Repository</a>.
          </p>

          <h3>Reference Implementation</h3>

          <p>
            A reference implementation for Beacon which supports authentication via OpenID/Connect is available <a href="https://github.com/Genecloud/simplebeacon">here</a>.
          </p>
          <p>
            If you do not need email authentication, a minimal implementation with only Python as a dependency is available from
            <a href="https://github.com/maximilianh/ucscBeacon">here</a>. It can import variants in the formats VCF, Complete Genomics and custom BED, a tab-separated file.
          </p>

          <h3>Light a Beacon in 10 minutes</h3>
          
          <p>The minimal Python beacon <a href="https://github.com/maximilianh/ucscBeacon#quick-start-using-the-built-in-webserver">README file</a> explains how to download and run it.</p>
          <p>
            <a href="https://www.youtube.com/embed/azQ45z5xC4M">This YouTube video</a> demonstrates how to light a public Beacon with authentication on Amazon EC2.
          </p>
        </md-content>
      </md-tab>
      <md-tab label="News">
        <md-content class="md-padding">
          <h1 class="md-display-2">News</h1>
          <p>
            <a href="http://www.bio-itworld.com/2015/8/14/beacon-project-cracks-door-genomic-data-sharing.html">Beacon Project Cracks the Door for Genomic Data Sharing</a>
          </p>
          <p>
            <a href="http://www.biotechniques.com/news/Beacons-for-Data-sharing/biotechniques-359902.html#.Vc4_CaPIu28">Beacons for data sharing</a>
          </p>
          <p>
            <a href="https://www.ebi.ac.uk/about/news/press-releases/elixir-global-alliance-beacon-launch">Lighting beacons for data access in genomic research</a>
          </p>
          <p>
            <a href="http://www.technologyreview.com/featuredstory/535016/internet-of-dna/">10 Breakthrough Technologies: Internet of DNA</a>
          </p>
          <p>
            <a href="Geneticists Begin Tests of an Internet for DNA">Geneticists Begin Tests of an Internet for DNA</a>
          </p>

        </md-content>
      </md-tab>




    </md-tabs>
  </md-content>
</div>
<div ng-include src="'app/view/team_members.html'"></div>
